<section>
    <div appTextReplace="This directory will replace the original text with demostration text on mouseover event. example usage: '<div appTextReplace='Which text you want to replace.'> default text... </div>'">
            Please mouseover here.
    </div>
</section>