<section>
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

        <!-- Book ID Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Id. </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- Book Cover Column -->
        <ng-container matColumnDef="cover">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Cover </th>
            <td mat-cell *matCellDef="let element"> 
                <img [src]="element.attributes.display_properties.image" 
                class="book-cover" [alt]="element.attributes.content">    
            </td>
        </ng-container>

        <!-- Book Name Column -->
        <ng-container matColumnDef="attributes.content">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.attributes.content}} </td>
        </ng-container>

        <!-- Book Type Column -->
        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef> type </th>
            <td mat-cell *matCellDef="let element"> {{element.type}} </td>
        </ng-container>

        <!-- Book Created at Column -->
        <ng-container matColumnDef="attributes.created_at">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> created_at </th>
            <td mat-cell *matCellDef="let element"> {{element.attributes.created_at}} </td>
        </ng-container>

        <!-- Book Updated at Column -->
        <ng-container matColumnDef="attributes.updated_at">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> updated_at </th>
            <td mat-cell *matCellDef="let element"> {{element.attributes.updated_at}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</section>