<mat-toolbar color="primary">
    <mat-toolbar-row>
        <a mat-button [routerLink]="'/'">
            <h1>{{title}}</h1>
        </a>
        <span class="menu-spacer"></span>
        <div *ngIf="showRoutes">
            <a mat-button [routerLink]="'/books'"> Books </a>
            <a mat-button [routerLink]="'/use-of-directives'"> Example Directive </a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<main [@routeAnimations]="outlet.isActivated ? outlet.activatedRoute : ''">
    <router-outlet #outlet="outlet"></router-outlet>
</main>