section {
    height: calc(100vh - 114px);
    width: calc(100vw - 60px);
    background:#fff url('/assets/images/bg-cover.jpg') no-repeat center;
    background-size: cover;
}

.intro {
    width: 50%;
    padding: 200px 0 0 100px ;

    .mat-display-3,
    .mat-h1 {
        margin-bottom: 32px;
    }

    button {
        border-color: #000;
        text-transform: uppercase;
    }
}