<section title="Welcome Page">
    <div class="intro">
        <h1 class="mat-display-3">Your library anywhere.</h1>
        <div class="mat-h1">Sign Up today and receive unlimited 
            access to all of your reading - for less than the price 
            of a single book.</div>
        <button mat-stroked-button routerLink="/books">See more</button>
    </div>
</section>